@import '../common.scss';
@import '../mixins.scss';

$input-area-padding-exclamation: 34px;
$input-area-padding-horizontal: 12px;
$input-area-padding-top: 6px;

.wrapper {
  position: relative;
}

.root {
  position: relative;
  display: flex;
  align-items: stretch;
  border: solid 1px;
  border-radius: 6px;

  &.disabled textarea::placeholder {
    color: $D10-30;;
  }
}

.textArea {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 20px;
  min-height: 36px;
  padding: $input-area-padding-top $input-area-padding-horizontal;
  margin: 0;
  border: 0;
  outline: 0;
  background: transparent;
  cursor: auto;
  // @include TextSizeAndFontFamily($size: medium, $weight: normal);
  //
  // @include Placeholder(getTextColor($light: true, $secondary: true));
  // @include Selection($paletteB4);

  @include default-scroll-bar();
  &::-webkit-scrollbar-thumb {
    height: 30px;
  }
  &::-webkit-scrollbar {
    border-radius: 0 6px 6px 0;
    background-color: $D80;
  }
}

.resizable > textarea {
  resize: vertical;
}

.nonResizable > textarea {
  resize: none;
}

.hasError > .textArea {
  padding-right: $input-area-padding-exclamation;
}

@include withRTL() {
  .hasError > .inputArea {
    padding-left: $input-area-padding-exclamation;
    padding-right: $input-area-padding-horizontal;
  }
}
