@import '../common.scss';

/** Background color of the content */
$contentBackgroundColor: white;
/** Border width of the content */
$contentBorderWidth: 1px;
/** Border style of the content */
$contentBorderStyle: solid;
/** Border color of the content */
$contentBorderColor: white;
/** Border radius of the content */
$contentBorderRadius: initial;
/** Content padding for the content */
$contentPadding: initial;
/** Size of the arrow of the content */
$contentArrowSize: 8px;

.root {
  position: relative;
  display: inline-block;

  &.fluid {
    display: block;
  }

  &[data-hook*="popover-portal"] {
    /* This will cause the container's height to stay the same */
    display: block;
  }
}

.popoverElement {}

.popoverContent {
  background-color: $contentBackgroundColor;
  border-width: $contentBorderWidth;
  border-style: $contentBorderStyle;
  border-color: $contentBorderColor;
  border-radius: $contentBorderRadius;
  padding: $contentPadding;

  border: none;

  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: $Shadow30;
  -webkit-font-smoothing: antialiased;

  font-size: 14px;
  line-height: 18px;

  /* Light theme specific stuff */
  color: $D10;
  background: white;
}

.popover {}
.withArrow {}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: $contentArrowSize;
}

.popover[data-placement*="right"].withArrow {
  padding-left: $contentArrowSize;
}

.popover[data-placement*="right"].withArrow .arrow {
  border-width: $contentArrowSize $contentArrowSize $contentArrowSize 0;
  left: calc(-1 * #{$contentArrowSize});
  margin-left: $contentArrowSize;
  margin-right: 0;
  border-color: transparent $contentBorderColor transparent transparent;
}

.popover[data-placement*="left"].withArrow {
  padding-right: $contentArrowSize;
}

.popover[data-placement*="left"].withArrow .arrow {
  border-width: $contentArrowSize 0 $contentArrowSize $contentArrowSize;
  right: calc(-1 * #{$contentArrowSize});
  margin-left: 0;
  margin-right: $contentArrowSize;
  border-color: transparent transparent transparent $contentBorderColor;
}

.popover[data-placement*="bottom"].withArrow {
  padding-top: $contentArrowSize;
}

.popover[data-placement*="bottom"].withArrow .arrow {
  border-width: 0 $contentArrowSize $contentArrowSize $contentArrowSize;
  top: calc(-1 * #{$contentArrowSize});
  margin-top: $contentArrowSize;
  margin-bottom: 0;
  border-color: transparent transparent $contentBorderColor transparent;
}

.popover[data-placement*="top"].withArrow {
  padding-bottom: $contentArrowSize;
}

.popover[data-placement*="top"].withArrow .arrow {
  border-width: $contentArrowSize $contentArrowSize 0 $contentArrowSize;
  bottom: calc(-1 * #{$contentArrowSize});
  margin-top: 0;
  margin-bottom: $contentArrowSize;
  border-color: $contentBorderColor transparent transparent transparent;
}
