@import '../common.scss';

.root {
  display: block;

  .popoverContent {
    overflow: hidden;

    min-width: 192px;
    width: 100%;
  }

  &.withWidth .popoverContent {
    min-width: inherit;
    width: inherit;

    &[data-placement*="top"],
    &[data-placement*="bottom"] {
      padding: 10px 0;
    }
  }
}

.nativeSelectWrapper {
  position: relative;
}

.nativeSelect {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  background: transparent;
  color: transparent;

  &:not(:focus) {
    border: transparent;
  }

  &:focus {
    @include FocusBox();
  }
}

.nativeOption {
  color: $D10;
}
