@import '../common.scss';

.pageHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 25px 20px;
  // border-radius: $default-border-radius;

  .heading {
    display: flex;
    flex: 1;

    .titleColumn {
      display: flex;
      flex-direction: column;
    }
  }

  .actions {
    display: flex;
    align-items: center;
  }
}
