@import '../common.scss';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  text-align: center;
  outline: none;

  border-radius: 8px;
  min-width: 84px;
  border: 1px solid;
  cursor: pointer;
  font-size: 1rem;

  .content {
    text-align: center;
    line-height: 1.5rem;
  }
}

.skin {
  &-standard {
    background-color: #3899ec;
    border-color: #3899ec;
    color: white;

    &.action-secondary {
      background-color: transparent;
      color: #3899ec;

      &:hover {
        background-color: #3899ec;
        color: white;
      }
    }
  }
  &-success {
    background-color: #00e261;
    border-color: #00e261;
    color: white;

    &.action-secondary {
      background-color: transparent;
      color: #00e261;

      &:hover {
        background-color: #00e261;
        color: white;
      }
    }
  }
  &-danger {
    background-color: red;
    border-color: red;
    color: white;

    &.action-secondary {
      background-color: transparent;
      color: red;

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }
  &-link {
    background-color: transparent;
    border-color: transparent;
  }
}

// .action {
//   &-primary {
//
//   }
//
//   &-secondary {
//
//   }
// }

.prefix {
  flex-shrink: 0;
}

.suffix {
  flex-shrink: 0;
}

.size {
  &-large {
    min-width: 102px;
    padding: 12px 30px;
    font-size: 1.5rem;

    .content {
      line-height: 2rem;
    }

    .prefix {
      margin: 0 12px 0 0;
      width: 24px;
      height: 24px;
    }

    .suffix {
      margin: 0 0 0 12px;
      width: 24px;
      height: 24px;
    }
  }

  &-medium {
    padding: 8px 24px;

    .prefix {
      margin: 0 12px 0 0;
      width: 24px;
      height: 24px;
    }

    .suffix {
      margin: 0 0 0 12px;
      width: 24px;
      height: 24px;
    }
  }

  &-small {
    min-width: 72px;
    padding: 6px 16px;

    .prefix {
      margin: 0 6px 0 0;
      width: 18px;
      height: 18px;
    }

    .suffix {
      margin: 0 0 0 6px;
      width: 18px;
      height: 18px;
    }
  }

  &-tiny {
    min-width: 60px;
    padding: 4px 8px;
    font-size: 0.75rem;

    .content {
      line-height: 1rem;
    }

    .prefix {
      margin: 0 6px 0 0;
      width: 18px;
      height: 18px;
    }

    .suffix {
      margin: 0 0 0 6px;
      width: 18px;
      height: 18px;
    }
  }
}

.disabled {
  cursor: default;
  pointer-events: none;
  background-color: #999;
  border-color: #999;
  color: white;

  &.action-secondary {
    background-color: transparent;
    color: #999;
  }
}
// #162d3d
.fullWidth {
  width: 100%;
}
